## [Merge two tables together and overwrite exisiting values with SQL](https://stackoverflow.com/questions/38958166/merge-two-tables-together-and-overwrite-exisiting-values-with-sql)

I try to merge two tables together and want to get a single table with SQL. My main problem is to overwrite existing values, because in the 2nd table (deltaTable) are some new revision rows, that have the same ID as in the first table (rootTable).

**Example:**

**1) rootTable**

ID | REV | NAME   |
---|-----|--------|
 1 |   0 | Part 1 |
 2 |   0 | Part 2 |
 3 |   0 | Part 3 |
 4 |   0 | Part 4 |
 5 |   0 | Part 5 |

**2) deltaTable**
 
ID | REV | NAME       |
---|-----|------------|
 2 |   1 | Part 2     |
 4 |   2 | New Part 4 |

**I want to have the following result:**

ID | REV | NAME       |
---|-----|------------|
 1 |   0 | Part 1     |
 2 |   1 | Part 2     |
 3 |   0 | Part 3     |
 4 |   2 | New Part 4 |
 5 |   0 | Part 5     |

The SQL code would be :

```sql
update
  rootTable r inner join deltaTable d
  on r.id = d.id
set
  r.REV = d.REV,
  r.NAME = d.NAME
```

or 

```sql
insert into rootTable (ID, REV, NAME)
select * from deltaTable
on duplicate key update
  REV=values(REV), NAME=values(NAME);
```

In [ ]:
## NOT WORKING!!!

using DataFrames

# Create two dataframes
rootTable = DataFrame(id = [1, 2, 3, 4, 5], rev = [0, 0, 0, 0, 0], name = ["Part 1", "Part 2", "Part 3", "Part 4", "Part 5"])
deltaTable = DataFrame(id = [2, 4], rev = [1, 2], name = ["Part 2", "New Part 4"])

# Merge the two dataframes
merged = innerjoin(rootTable, deltaTable, on = :id, makeunique=true)

# Update the values of REV and NAME in rootTable
merged.rev[:] = merged.rev_1
merged.name[:] = merged.name_1

# Update the original rootTable with the modified values
not = ~
keep_rows = [i for i in 1:nrow(merged) if not(ismissing(merged[i, :rev_1]) && ismissing(merged[i, :name_1]))]

rootTable = merged[keep_rows, :]

# Print the updated rootTable
print(rootTable)

In [ ]:
## NOT WORKING

using DataFrames

# Create two dataframes
rootTable = DataFrame(id = [1, 2, 3, 4, 5], rev = [0, 0, 0, 0, 0], name = ["Part 1", "Part 2", "Part 3", "Part 4", "Part 5"])
deltaTable = DataFrame(id = [2, 4], rev = [1, 2], name = ["Part 2", "New Part 4"])

# Insert data from deltaTable into rootTable
for i in 1:size(deltaTable, 1)
    id = deltaTable[i, :id]
    rev = deltaTable[i, :rev]
    name = deltaTable[i, :name]
    if id in rootTable.id
        rootTable[findall(x -> x == id, rootTable.id), [:rev, :name]] .= [rev, name]
    else
        push!(rootTable, [id, rev, name])
    end
end

In [ ]:
using DataFrames

# Create two dataframes
df_a = DataFrame(A = [1, 2], B = [4, 5])
df_b = DataFrame(A = [1, 2, 3], B = [4, 11, 6])

# Merge the two dataframes
merged = outerjoin(df_a, df_b, on = :A, makeunique=true)

# Print the merged dataframe
print(merged)